<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="huihuang.proxy.ocpx.bussiness.dao.channel.IWifiCallbackDao">

    <resultMap id="wifiCallbackMap" type="huihuang.proxy.ocpx.channel.wifi.WifiCallbackDTO">
        <id column="id" property="id"/>
        <id column="ads_id" property="adsId"/>
        <result column="ts" property="ts"/>
        <result column="event_type" property="eventType"/>
        <result column="ads_name" property="adsName"/>
        <result column="extra" property="extra"/>
        <result column="callback_status" property="callBackStatus"/>
        <result column="callback_mes" property="callBackMes"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="huihuang.proxy.ocpx.channel.wifi.WifiCallbackDTO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO wifi_callback
        (ads_id, ts, event_type, ads_name, extra, callback_status,callback_mes, create_time,
        update_time)
        VALUES (#{adsId}, #{ts}, #{eventType}, #{adsName}, #{extra}, #{callBackStatus},
        #{callBackMes},now(),now())
    </insert>


</mapper>